ion-item {
  --background: var(--ion-color-step-150);
  --border-radius: 10px;
  --border-width: 0px 0px 0px 10px;
  --padding-top: 2px;
  --padding-bottom: 2px;
  margin: 10px 0px 0px 10px;
}

.debit {
  --border-color: var(--ion-color-danger);
}

.credit {
  --border-color: var(--ion-color-success);
}
