ion-item {
  --background: #343434;
  --border-radius: 10px;
  --border-width: 0px 0px 0px 10px;
  --padding-top: 2px;
  --padding-bottom: 2px;
  margin: 10px 0px 0px 10px;
}

.debit {
  --border-color: #c42700;
}

.credit {
  --border-color: #1aae00b0;
}
