ion-item-sliding {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

ion-item {
  --background: var(--ion-color-step-150);
  --border-radius: 10px;
  --border-width: 0px 0px 0px 10px;
}

ion-item-options {
  padding-right: 10px;
}

ion-item-option {
  border-radius: 10px;
  margin-left: 10px;
}

.debit {
  --border-color: var(--ion-color-danger);
}

.credit {
  --border-color: var(--ion-color-success);
}

ion-fab {
  translate: -25px -25px;
}
