<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Transactions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding">
    <ion-item
      *ngFor="let transaction of transactionsList"
      lines="none"
      [ngClass]="{ 'debit': transaction.transactionType === 'debit', 'credit': transaction.transactionType === 'credit' }"
    >
      <ion-label>
        <h2>₹ {{ transaction.amount }}</h2>
        <h3>{{ transaction.party }}</h3>
      </ion-label>
      <ion-label slot="end">
        <p>{{ transaction.mode }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
