<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Transactions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let transaction of transactionsList">
      <ion-card>
        <ion-label>
          <h2>{{ transaction.party }}</h2>
          <p>{{ transaction.amount }}</p>
          <p>{{ transaction.mode }}</p>
          <p>{{ transaction.transactionType }}</p>
        </ion-label>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
