ion-card {
  border-radius: 15px;
  --background: var(--ion-color-step-200);
}

ion-card:first-child {
  margin-bottom: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

ion-card:last-child {
  margin-top: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#incomeCard h1 {
  color: #1eff00;
}

#expenseCard h1 {
  color: #ff0000;
}
