<ion-tabs>
  <ion-header>
    <ion-toolbar>
      <ion-title> {{ dateRangeMode }} </ion-title>

      <ion-buttons slot="primary">
        <ion-button (click)="handleChooseDateRange()">
          <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>

    <ion-tab-button tab="transactions">
      <ion-icon name="card"></ion-icon>
      Transactions
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
