<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card id="expenseCard">
      <ion-card-header>
        <ion-card-title>Expenses</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h1>₹ {{expensesSum | number: '1.2-2'}}</h1>
      </ion-card-content>
    </ion-card>
    <ion-card id="incomeCard">
      <ion-card-header>
        <ion-card-title>Income</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h1>₹ {{incomeSum | number: '1.2-2'}}</h1>
      </ion-card-content>
    </ion-card>
    <ion-list>
      <ion-item>
        <ion-button (click)="handlefetchMails()">Fetch mails</ion-button>
      </ion-item>
      <ion-item>
        <ion-button routerLink="/transactions">Go to Transactions</ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
